@charset "utf-8";

.container {
  background-color: rgb(233, 226, 255);
  display: flex;
  justify-content: center;
  border: 1px solid black;

  .todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }

  .done {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
