@import "./style.scss";

//supply-icon.jsx
.modal-supplies {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}

.modal-supply {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//supply,jsx
.modal-button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: aquamarine;
  position: fixed;
  top: 550px;
  right: 30px;
  box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.15);
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: rgb(248, 248, 248);
  padding: 40px;
  padding-top: 70px;
  border-radius: 20px;
}

.modal-box {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}
