* {
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  height: 3500px;
  background-color: rgb(240, 233, 223);
}

/* 헤더 */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  /* z-index 안해주니까 hover 적용이 안됨... 왜 해야할까*/
}

.header1 {
  display: flex;
  width: 100vw;
  position: absolute;
  /* absolute 다시 보기 */
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 30px;
}

.menu {
  display: flex;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.menu1 {
  padding-right: 18px;
  padding-top: 10px;
}

.menu2 {
  padding-right: 18px;
  padding-top: 10px;
}

.menu3 {
  padding-right: 18px;
  padding-top: 10px;
}

.menu4 {
  padding-right: 18px;
  padding-top: 10px;
}

.menu5 {
  font-size: 16px;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 15px 17px 15px 17px;
  border-radius: 5px;
}

.menu div:hover {
  cursor: pointer;
  color: #e0d5c5;
}

.menu5:hover {
  transform: scale(1.04);
  transition-duration: 0.25s;
  cursor: pointer;
}

.header2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: white;
  font-size: 43px;
  z-index: 10;
  align-items: center;
  position: absolute;
  font-family: "Abril Fatface", cursive;
}

.logo:hover {
  cursor: pointer;
}

/* 메인 */
main {
  height: 959px;
  width: 100vw;
  background-color: rgb(178, 149, 109);
}

.section1 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.article1 {
  width: 415.66px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0px 0px 0px 30px;
}

.article2 {
  width: 415.66px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  position: absolute;
  padding: 0px 0px 30px 30px;
}

.name {
  width: 415.66px;
  height: 300px;
}

.name1 {
  color: #ffffff;
  font-size: 60px;
  font-family: "Outfit", sans-serif;
  line-height: 46px;
}

.name2 {
  color: #d5ccbe;
  font-size: 60px;
  font-family: "Outfit", sans-serif;
  line-height: 46px;
}

.explore {
  display: flex;
}

.text {
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 100%;
  height: 100%;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 6px;
}

i {
  margin: 6px;
  font-size: 12px;
  color: white;
}

.text:hover {
  cursor: pointer;
  color: #e0d5c5;
}

i:hover {
  cursor: pointer;
  color: #e0d5c5;
}

.section2 {
  width: calc(100vw - 16.5px);
  /* 커서 넓이만큼 뺴줌, 그냥 화면 가로 너비에 맞게 하는 방법은? */
  height: 696px;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
}

.section2 > .article3 {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.308);
  margin: auto;
  box-sizing: border-box;
  flex-direction: column;
}

.section2 > .article4 {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  justify-content: flex-end;
}

.img1 {
  height: 200px;
  width: 200px;
}

.img2 {
  height: 500x;
  width: 600px;
}

.text2 {
  width: 100%;
  color: #543939;
  font-family: "Nunito Sans", sans-serif;
  font-size: 42px;
  line-height: 40px;
}
.text3 {
  color: #543939;
  font-family: "Noto Sans KR", sans-serif;
}
.text4 {
  color: #543939;
  font-family: "Bacasime Antique", serif;
  font-size: 18px;
  line-height: 15px;
}
